<html>
<head>
    <title>Buscador</title>
</head>
<body>
    <strong>Texto buscado: {{query}} </strong>
        <table>    
    {%if usuario_ok == 1 %}        
        {%if not buscado %}:
            <h3 style="color:red"> No existe el usuario.</h3>
        {%else%}
        <tr><th>Nombre del usuario</th></tr>
        <strong style ="color:green"><br>El usuario existe. </strong>
            {%for usuario_buscado in buscado%}                        
            <tr><th>{{usuario_buscado.userName_seguidor}} </th></th>        
            {%endfor%}
        {%endif%}
    {%else%}
        {%if not buscado %}:
        <h3 style="color:red"> No existe ninguna publicacion que contenga la palabra.</h3>
        {%else%}        
            <tr><th>Texto</th> <th>Autor</th><th> Fecha </th><th> Hora</th></tr>
            {%for buscador in buscado%}
                {%if buscador.republicacion == null%}
                <tr><th>{{buscador.texto}} </th> <th>{{buscador.autor}} </th> <th> {{buscador.fecha}} </th> <th> {{buscador.hora}}</th> <th>        
                    <th>
                        <form action="/republicar/" method="GET"> 
                            <input type = "hidden" value="republicar" name = "republicar" >
                            <input type="hidden" name="texto_republicado" value = "{{buscador.texto}}"> 
                            <input type="hidden" name="autor" value = "{{buscador.autor}}"> 
                            <th><input type="submit" value = "republicar" onclick="return confirm('Quiere republicar el mensaje?')" /></th>
                        </form>
                    </th>
                </tr>
                {%endif%}        
            
            {%endfor%}
        {%endif%}
    {%endif%}

    </table>
    <form action="/inicio/" >
        <input type = "submit" value= "inicio">    
    </form>
</body>
</html>
