<html>
<head>
    <title>Inicio microblogging</title>
</head>
<body>
    <center><h2 >Inicio</h2></center>
    <form action="/buscar/" method="GET">
        <input type= "text" name = "texto_buscado">
        <input type = "submit" value= "buscar">    
    </form> 
    <table style="width: 75%" >
    
        <tr><th>Texto</th>  <th>Autor</th>  <th>Fecha</th> <th>Hora</th> <th>Autor original</th></tr>
        {%for mostrar_publicaciones in publicaciones%}
        <tr>
            <th>
            {%if mostrar_publicaciones.republicacion == True%}
            <Strong style="color: red;">Republicado</Strong>
            {%endif%}
            {%if mostrar_publicaciones.modificacion == True %}    
            <Strong style="color: green;">Modificado</Strong>
            {%endif%}
            {{mostrar_publicaciones.texto}}</th>
            <th>{{mostrar_publicaciones.autor}}</th>
            <th>{{mostrar_publicaciones.fecha}} </th>
            <th>{{mostrar_publicaciones.hora}} </th>
            {%if mostrar_publicaciones.republicacion == True%}
            <th>{{mostrar_publicaciones.republicacion_autor_original}}</th>
            {%else%}            
            <th></th>
            {%endif%}
            {%if mostrar_publicaciones.autor == usuario%}
                
                {%if mostrar_publicaciones.republicacion == True and mostrar_publicaciones.autor == usuario%}
                <th></th>
                {%else%}                                    
                <form action="/republicar/" method="GET"> 
                    <input type = "hidden" value="republicar" name = "republicar" >
                    <input type="hidden" name="texto_republicado" value = "{{mostrar_publicaciones.texto}}">                     
                    <input type="hidden" name="autor" value = "{{mostrar_publicaciones.autor}}"> 
                    <th><input type="submit" value = "republicar" onclick="return confirm('Quiere republicar el mensaje?')" /></th>
                </form>
                
                {%endif%}
                
                    <form action ="/eliminar/" method = "GET">
                        <input type = "hidden" name="eliminar" value="eliminar">
                        <input type = "hidden" name="id_eliminar" value = "{{mostrar_publicaciones.id}}">
                        <th><input type="submit" value = "eliminar" onclick="return confirm('Quiere eliminar la republicacion?')" /></th>
                    </form>
                
                {%if mostrar_publicaciones.republicacion == True%}
                <th></th>
                {%else%}    
                
                <form action ="/modificar/" method = "GET">
                    <input type = "hidden" name="modificar" value="modificar">
                    <input type = "hidden" name="id_modificar" value = "{{mostrar_publicaciones.id}}">
                    <th><input type="submit" value = "modificar"> </th>
                </form>
                
                {%endif%}                
                
            {%else%}
            
                <form action="/republicar/" method="GET"> 
                    <input type = "hidden" value="republicar" name = "republicar" >
                    <input type="hidden" name="texto_republicado" value = "{{mostrar_publicaciones.texto}}"> 
                    <input type="hidden" name="autor" value = "{{mostrar_publicaciones.autor}}"> 
                    <th><input type="submit" value = "republicar" onclick="return confirm('Quiere republicar el mensaje?')" /></th>
                </form>
            
            {%endif%}
        </tr>
        {%endfor%}    
</table>
</body>
</html>