<html>
    <head>
        <title>Modificar publicacion</title>
    </head>
    <body>
        {% for publicacion in texto_modificable %}
        <form action = "/modificar_efectivo/" method="GET">
            <input type = "hidden" name="modificar_efectivo" value="modificar_efectivo">
            <input type = "hidden" name="id_modificacion" value ="{{publicacion.id}}">
            <input type="text" name = "texto" maxlength="140" size="140" value="{{publicacion.texto}}">
            <input type="submit" value = "modificar" onclick="return confirm('Quiere modificar la publicacion?')" />            
        </form>
        <form action ="/inicio/">
            <input type = "submit" value ="cancelar" onclick="return confirm('Quiere cancelar la modificacion?')" />            
        </form>
        {% endfor %}
    </body>
</html>
